.navbar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 1% 0;
  padding: 0 2%;
  border-bottom: 1px solid black;
}

.navbar > .main-menu {
  flex: 2;
}
