.hero {
  background-image: url('https://news.linkedin.com/content/dam/me/news/en-us/images/mexicocity-take-2.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
