.footer {
  background-color: #23222c;
  color:white;
  padding: 2%;
  display: flex;
}

.footer .button__link{
  color: white;
}


.footer__section1{
  display: flex;
  flex-direction: column;
}

.footer__section2{
  display: flex;
  flex-direction: row;
  align-items: end;
  flex: 1;
}
