.search-bar {
  display: flex;
  flex-direction: column;
}

.search-bar .label {
  margin: 1%;
}

.search-bar > .search-bar__input--container {
  display: flex;
}

.search-bar > .search-bar__input--container input,
button {
  margin: 1%;
}

.search-bar__dropddown {
  display: flex;
}

.search-bar__dropdown--list {
  display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    margin-top: 2%;
    margin-left: 3px;
    width: 13%;
    border: 1px solid black;
    max-height: 200px;
    overflow-y: scroll;
}
