.search-bar {
  display: flex;
  flex-direction: column;
}

.search-bar .label {
  margin: 1%;
}

.search-bar > .search-bar__input--container {
  display: flex;
}

.search-bar > .search-bar__input--container input,
button {
  margin: 1%;
}
